spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${LOCAL_MYSQL_URL}
    username: ${LOCAL_MYSQL_USERNAME}
    password: ${LOCAL_MYSQL_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
    open-in-view: false
  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always


  security:
    oauth2:
      client:
        registration:
          naver:
            client-id: ${LOCAL_NAVER_CLIENT_ID}
            client-secret: ${LOCAL_NAVER_CLIENT_SECRET}
            redirect-uri: ${LOCAL_NAVER_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope: name, email
            client-name: naver

          google:
            client-id: ${LOCAL_GOOGLE_CLIENT_ID}
            client-secret: ${LOCAL_GOOGLE_CLIENT_SECRET}
            redirect-uri: ${LOCAL_GOOGLE_REDIRECT_URI}
            authorization-grant-type: authorization_code
            scope: profile, email
            client-name: google

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response
  web:
    resources:
      add-mappings: false